events#show page
<h1><%= @event.name %> </h1>
<p><%= @event.date %></p><br  />
<p><%= @event.capacity %></p><br  />
<p> <%= link_to 'Edit Event', edit_location_event_path %>
  | <%= link_to 'Delete', location_event_path, method: :delete, data: {confirm: "Are you sure you want to delete the event '#{@event.name}'? This cannot be undone!"}  %>

</p>
